@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body{
  font-family: 'Roboto-Light';
  margin: 0;
  background-color: #f5f5f5
}

:root {
  --red-200: #ff5252;
  --pink-200: #ff4081;
  --purple-200: #e040fb;
  --deepPurple-200: #7c4dff;
  --indigo-200: #536dfe;
  --blue-200: #448aff;
  --lightBlue-200: #40c4ff;
  --cyan-200: #18ffff;
  --teal-200: #64ffda;
  --green-200: #69f0ae;
  --lightGreen-200: #b2ff59;
  --lime-200: #eeff41;
  --yellow-200:#ffff00;
  --amber-200: #ffd740;
  --orange-200: #ffab40;
  --deepOrange-200 : #ff6e40;
}
